In [1]:
from year_data import avg_data_2013,avg_data_2014,avg_data_2015,avg_data_2016,avg_data_2017,avg_data_2018

In [2]:
print(avg_data_2013())

[284.79583333333335, 219.72083333333333, 182.1875, 115.28749999999998, 0.0, 12.379166666666668, 154.03750000000002, 223.20833333333334, 200.64583333333337, 154.875, 129.38749999999996, 224.2458333333333, 285.22499999999997, 236.82499999999996, 276.90833333333336, 245.65, 218.67083333333326, 47.82500000000001, 108.0, 107.625, 125.89166666666667, 179.3083333333333, 239.85, 220.1916666666667, 181.01250000000005, 152.55416666666667, 152.32083333333335, 171.42916666666665, 251.375, 251.82916666666668, 319.7375, 332.7083333333333, 279.59999999999997, 179.11666666666667, 166.29999999999998, 78.25416666666666, 54.958333333333336, 54.791666666666664, 93.375, 103.0, 211.125, 192.29166666666666, 152.0, 132.20833333333334, 127.70833333333333, 109.33333333333333, 0.0, 0.0, 0.0, 56.458333333333336, 135.83333333333334, 122.5, 119.33333333333333, 67.125, 46.708333333333336, 69.66666666666667, 79.83333333333333, 62.708333333333336, 81.04166666666667, 21.208333333333332, 1.9166666666666667, 1.8333333333333333, 1.7916666666666667, 31.625, 112.08333333333333, 105.83333333333333, 117.58333333333333, 122.70833333333333, 76.54166666666667, 159.08333333333334, 147.95833333333334, 111.95833333333333, 59.208333333333336, 77.20833333333333, 87.83333333333333, 90.04166666666667, 63.916666666666664, 98.70833333333333, 123.70833333333333, 64.79166666666667, 62.875, 88.375, 77.66666666666667, 52.333333333333336, 52.041666666666664, 128.33333333333334, 87.58333333333333, 2.9166666666666665, 0.0, 0.0, 23.208333333333332, 15.166666666666666, 21.25, 25.75, 52.416666666666664, 89.0, 81.83333333333333, 105.33333333333333, 117.75, 20.791666666666668, 64.79166666666667, 87.375, 84.5, 46.916666666666664, 104.625, 109.625, 63.458333333333336, 77.04166666666667, 110.875, 42.958333333333336, 0.0, 30.875, 75.58333333333333, 106.95833333333333, 120.875, 79.91666666666667, 0.0, 0.0, 0.0, 38.5, 94.75, 142.5, 133.375, 102.41666666666667, 101.75, 117.95833333333333, 147.83333333333334, 158.29166666666666, 149.58333333333334, 107.29166666666667, 96.25, 76.25, 101.5, 106.5, 128.125, 108.0, 125.625, 137.16666666666666, 101.95833333333333, 98.41666666666667, 94.375, 118.5, 89.54166666666667, 87.25, 107.625, 110.41666666666667, 95.83333333333333, 93.5, 97.625, 76.95833333333333, 72.25, 38.666666666666664, 45.375, 65.16666666666667, 67.08333333333333, 80.04166666666667, 74.16666666666667, 66.08333333333333, 77.66666666666667, 70.25, 75.125, 37.166666666666664, 57.375, 56.291666666666664, 77.0, 32.958333333333336, 40.833333333333336, 42.541666666666664, 93.08333333333333, 80.625, 90.70833333333333, 97.29166666666667, 79.83333333333333, 87.75, 63.5, 50.708333333333336, 40.375, 49.416666666666664, 43.666666666666664, 52.166666666666664, 49.583333333333336, 61.875, 0.0, 29.666666666666668, 47.75, 37.708333333333336, 33.083333333333336, 49.125, 43.666666666666664, 29.833333333333332, 29.666666666666668, 56.708333333333336, 39.25, 35.208333333333336, 37.625, 41.458333333333336, 53.125, 54.875, 65.75, 38.583333333333336, 36.0, 70.58333333333333, 52.458333333333336, 36.583333333333336, 45.583333333333336, 33.166666666666664, 38.25, 26.583333333333332, 57.583333333333336, 30.708333333333332, 35.375, 15.416666666666666, 41.375, 25.541666666666668, 28.375, 40.333333333333336, 39.333333333333336, 41.833333333333336, 50.333333333333336, 35.375, 31.916666666666668, 36.791666666666664, 33.291666666666664, 35.5, 35.291666666666664, 26.833333333333332, 21.125, 18.0, 28.041666666666668, 34.875, 35.708333333333336, 43.583333333333336, 46.041666666666664, 28.75, 70.54166666666667, 58.541666666666664, 82.875, 64.91666666666667, 30.666666666666668, 31.75, 41.041666666666664, 45.25, 34.416666666666664, 33.166666666666664, 30.625, 30.333333333333332, 31.75, 34.208333333333336, 11.625, 0.0, 0.0, 0.0, 0.0, 0.0, 26.166666666666668, 76.875, 83.45833333333333, 71.66666666666667, 65.625, 53.375, 56.083333333333336, 69.70833333333333, 62.375, 24.875, 37.333333333333336, 50.125, 46.541666666666664, 43.958333333333336, 41.5, 38.791666666666664, 48.916666666666664, 76.91666666666667, 34.458333333333336, 30.333333333333332, 26.666666666666668, 29.0, 34.25, 62.708333333333336, 65.08333333333333, 61.708333333333336, 60.541666666666664, 41.583333333333336, 50.916666666666664, 40.958333333333336, 60.666666666666664, 80.04166666666667, 82.83333333333333, 95.25, 115.83333333333333, 149.66666666666666, 145.58333333333334, 126.16666666666667, 136.70833333333334, 160.66666666666666, 173.58333333333334, 168.625, 174.66666666666666, 245.66666666666666, 261.6666666666667, 272.4166666666667, 226.29166666666666, 291.7083333333333, 207.33333333333334, 149.625, 99.70833333333333, 217.375, 309.375, 166.91666666666666, 429.1666666666667, 332.4583333333333, 321.5416666666667, 278.0, 192.33333333333334, 235.33333333333334, 153.29166666666666, 171.54166666666666, 224.16666666666666, 196.75, 221.54166666666666, 210.54166666666666, 251.20833333333334, 172.83333333333334, 166.70833333333334, 130.70833333333334, 194.70833333333334, 250.875, 274.875, 207.91666666666666, 134.45833333333334, 110.0, 160.0, 217.91666666666666, 184.20833333333334, 130.91666666666666, 118.91666666666667, 176.375, 185.95833333333334, 195.375, 151.04166666666666, 170.875, 239.125, 365.2916666666667, 312.2083333333333, 237.625, 179.33333333333334, 122.54166666666667, 121.33333333333333, 202.875, 260.1666666666667, 403.9583333333333, 455.5833333333333, 382.7083333333333, 277.7083333333333, 284.1666666666667, 288.4166666666667, 256.8333333333333, 175.75, 180.79166666666666, 166.91666666666666, 169.0, 186.04166666666666, 185.58333333333334, 114.08333333333333, 140.45833333333334, 108.08333333333333]

In [3]:
import pandas as pd
import os
from bs4 import BeautifulSoup as bs
from IPython.core.display import display,html
import requests
import sys
import csv

C:\Users\hp\AppData\Local\Temp\ipykernel_16908\548363322.py:4: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display,html

In [4]:
def met_data (month, year):
    
    file_html=open(f"data/html/{year}/{month}.html",'r')
    plain_text=file_html.read()
    
    temp_d=[]
    
    soup=bs(plain_text)
    
    for table in soup.find_all('table',attrs={'class':"medias mensuales numspan"}):
        for tbody in table:
            for tr in tbody:
                a=tr.get_text()
                temp_d.append(a)
#         return temp_d
    
       
    final_d=[]
    row=len(temp_d)/15
    
    for i in range(round(row)):
        temp=[]
        for j in range(0,15):
            temp.append(temp_d[0])
            temp_d.pop(0)
        final_d.append(temp)
        
    final_d.pop(0)
    final_d.pop(len(final_d)-1)
        
    for i in range(len(final_d)):
        final_d[i].pop(14)
        final_d[i].pop(13)
        final_d[i].pop(12)
        final_d[i].pop(11)
        final_d[i].pop(10)
        final_d[i].pop(6)
        final_d[i].pop(0)
        
        
    return final_d

In [5]:
(met_data (1, 2013))

[['9.1', '15.3', '4', '1015.6', '90', '0.5', '0', '-'],
 ['7.4', '9.8', '4.8', '1017.6', '93', '0.5', '4.3', '9.4'],
 ['7.8', '12.7', '4.4', '1018.5', '87', '0.6', '4.4', '11.1'],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['6.7', '13.4', '2.4', '1019.4', '82', '0.6', '4.8', '11.1'],
 ['8.6', '15.5', '3.3', '1018.7', '72', '0.8', '8.1', '20.6'],
 ['12.4', '20.9', '4.4', '1017.3', '61', '1.3', '8.7', '22.2'],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['16', '25.2', '10', '1013.2', '79', '0.6', '4.8', '11.1'],
 ['13.4', '21', '9.2', '1015.1', '87', '0.5', '1.5', '7.6'],
 ['14.3', '22.6', '6.6', '1016.3', '76', '0.8', '0.4', '3.5'],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['12.7', '18.9', '7.3', '1021.2', '76', '1.8', '6.1', '16.5'],
 ['11.9', '18.9', '6.3', '1020.1', '76', '1.1', '8.3', '20.6'],
 ['12.2', '19.9', '6.2', '1021', '69', '2.1', '4.4', '18.3'],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['13.4', '21.1', '5.6', '1020', '60', '1.9', '8', '22.2'],
 ['12.3', '21.4', '6.4', '1019.6', '70', '1.9', '6.7', '14.8'],
 ['13.7', '22', '7', '1018.2', '63', '1.8', '7.2', '18.3'],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['14.9', '21.9', '7.1', '1018.3', '73', '0.6', '2', '7.6']]

In [6]:
if not os.path.exists('data/Real_data'):
    os.makedirs('data/Real_data')
    
    
for year in range(2013, 2018+1):
    final_data=[]
    with open (f'data/Real_data/real_{year}.csv','w') as f:
        data=csv.writer(f,dialect='excel')
        data.writerow(
        ['T','TM','Tm','SLP','H', 'VV','V', 'VM', 'PM 2.5']
        )
        
    for month in range(1,13):
        temp= met_data(month,year)
        final_data+=temp
    
    
    pm=getattr(sys.modules[__name__],f'avg_data_{year}')()
#     print((pm))

    
#     print(final_data[1])
    for i in range(len(final_data)-1):
        final_data[i].insert(8,pm[i])
        
#     print(final_data[1])
    
    with open (f'data/Real_data/real_{year}.csv','a') as f:
        data=csv.writer(f,dialect='excel')
        for row in final_data:
            flag=0
            for elem in row:
                if elem=="-" or elem=="":
                    flag=1
            if flag != 1:
                data.writerow(row)

In [7]:
def year_range(start, end):
    df_list=[]
    for year in range(start, end+1):
        df=pd.read_csv(f'data/Real_data/real_{year}.csv')
        df_list.append(df)
    return pd.concat(df_list, ignore_index=True)

In [11]:
final_csv=year_range(2013,2015)

In [13]:
all_final_csv=year_range(2013,2018)

In [14]:
final_csv.to_csv('combine_data_csv')

In [14]:
all_final_csv.to_csv('all_combine_data_csv')

In [12]:
final_csv

        T    TM   Tm     SLP   H   VV    V    VM      PM 2.5
0     7.4   9.8  4.8  1017.6  93  0.5  4.3   9.4  219.720833
1     7.8  12.7  4.4  1018.5  87  0.6  4.4  11.1  182.187500
2     6.7  13.4  2.4  1019.4  82  0.6  4.8  11.1  154.037500
3     8.6  15.5  3.3  1018.7  72  0.8  8.1  20.6  223.208333
4    12.4  20.9  4.4  1017.3  61  1.3  8.7  22.2  200.645833
..    ...   ...  ...     ...  ..  ...  ...   ...         ...
545  12.6  21.0  0.0  1018.9  68  1.4  2.6   9.4  264.583333
546  13.7  21.0  5.6  1018.8  71  1.3  1.5   7.6  253.291667
547  13.3  19.3  5.5  1021.9  62  1.9  7.8  14.8  181.208333
548  14.4  21.5  5.5  1021.0  60  1.8  8.9  18.3  210.875000
549  16.3  22.5  7.6  1020.6  64  1.4  8.1  14.8  255.333333

[550 rows x 9 columns]

In [16]:
all_final_csv

         T    TM   Tm     SLP   H   VV    V    VM      PM 2.5
0      7.4   9.8  4.8  1017.6  93  0.5  4.3   9.4  219.720833
1      7.8  12.7  4.4  1018.5  87  0.6  4.4  11.1  182.187500
2      6.7  13.4  2.4  1019.4  82  0.6  4.8  11.1  154.037500
3      8.6  15.5  3.3  1018.7  72  0.8  8.1  20.6  223.208333
4     12.4  20.9  4.4  1017.3  61  1.3  8.7  22.2  200.645833
...    ...   ...  ...     ...  ..  ...  ...   ...         ...
1085  11.3  22.3  4.7  1017.7  82  1.1  3.0   3.5  310.250000
1086  12.3  19.4  6.2  1016.8  80  1.3  6.7  25.9  204.375000
1087  11.1  20.6  3.6  1015.7  76  1.3  3.0   9.4  223.250000
1088  11.6  21.4  3.4  1017.1  76  1.1  2.4   5.4  248.958333
1089  12.0  22.9  3.8  1021.2  73  0.8  4.8  25.9         NaN

[1090 rows x 9 columns]

In [15]:
df1=pd.read_csv('Data/Real_data/real_2013.csv')
df1

        T    TM    Tm     SLP   H   VV     V    VM      PM 2.5
0     7.4   9.8   4.8  1017.6  93  0.5   4.3   9.4  219.720833
1     7.8  12.7   4.4  1018.5  87  0.6   4.4  11.1  182.187500
2     6.7  13.4   2.4  1019.4  82  0.6   4.8  11.1  154.037500
3     8.6  15.5   3.3  1018.7  72  0.8   8.1  20.6  223.208333
4    12.4  20.9   4.4  1017.3  61  1.3   8.7  22.2  200.645833
..    ...   ...   ...     ...  ..  ...   ...   ...         ...
180  14.6  15.9  12.5  1016.9  95  0.5   0.4   3.5  288.416667
181  13.6  20.4   7.5  1020.7  67  1.1  10.2  40.7  166.916667
182  12.3  20.6   6.2  1019.4  71  1.3   4.4  18.3  169.000000
183  11.9  17.1   6.5  1018.6  84  1.1   1.1   5.4  186.041667
184  14.3  19.2  10.9  1020.5  91  1.6   4.8  11.1         NaN

[185 rows x 9 columns]

In [16]:
df2=pd.read_csv('Data/Real_data/real_2014.csv')
df2

        T    TM   Tm     SLP   H   VV    V    VM      PM 2.5
0    13.2  18.2  9.2  1021.0  92  0.8  7.6  11.1  255.875000
1    11.1  18.3  5.0  1020.2  80  1.1  8.0  14.8  217.083333
2    12.7  19.8  5.2  1017.9  78  1.3  5.4  14.8  229.166667
3    11.9  20.7  4.4  1017.9  78  0.8  1.9   7.6  264.916667
4    11.7  20.7  6.5  1017.3  89  0.3  0.9   7.6  404.500000
..    ...   ...  ...     ...  ..  ...  ...   ...         ...
178  11.3  17.5  7.2  1018.8  81  0.8  5.7  13.0  188.041667
179   9.5  17.5  5.6  1018.1  84  0.5  0.9   3.5  310.250000
180   9.3  16.0  6.0  1020.0  85  0.6  8.1  14.8  204.375000
181  10.8  17.0  6.3  1017.7  82  0.8  7.8  11.1  223.250000
182  10.4  19.2  4.8  1018.6  71  0.8  2.8  11.1  248.958333

[183 rows x 9 columns]

In [17]:
pd.concat([df1,df2])

        T    TM   Tm     SLP   H   VV    V    VM      PM 2.5
0     7.4   9.8  4.8  1017.6  93  0.5  4.3   9.4  219.720833
1     7.8  12.7  4.4  1018.5  87  0.6  4.4  11.1  182.187500
2     6.7  13.4  2.4  1019.4  82  0.6  4.8  11.1  154.037500
3     8.6  15.5  3.3  1018.7  72  0.8  8.1  20.6  223.208333
4    12.4  20.9  4.4  1017.3  61  1.3  8.7  22.2  200.645833
..    ...   ...  ...     ...  ..  ...  ...   ...         ...
178  11.3  17.5  7.2  1018.8  81  0.8  5.7  13.0  188.041667
179   9.5  17.5  5.6  1018.1  84  0.5  0.9   3.5  310.250000
180   9.3  16.0  6.0  1020.0  85  0.6  8.1  14.8  204.375000
181  10.8  17.0  6.3  1017.7  82  0.8  7.8  11.1  223.250000
182  10.4  19.2  4.8  1018.6  71  0.8  2.8  11.1  248.958333

[368 rows x 9 columns]